.customHeader {
  margin-bottom: 80px;
}

.customFooter {
  margin-bottom: 60px;
}

.nameplateImage {
  height: 200px;
  max-height: 200px;
  width: auto;
  border-radius: 100%;
  box-shadow: 1px 1px 7px black;
}
